<!-- toolbar -->
<mat-toolbar color="primary">Upload New Image</mat-toolbar>

<img src="{{IMG_URL}}{{editFields.thumbnail}}" alt="thumbnail" class="image" fxLayout="row"  height="auto" width="240em">

<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center start">
  <div class="form-group"  class="form">
    <input type="file" id="bookimage" (change)="onFileChange($event)" #fileInput>
  </div>
  <div class="buttons">
    <button type="submit" [disabled]="form.invalid || loading" mat-raised-button color="primary">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
    <button mat-raised-button color="primary" (click)="goBack()" style="margin-left: 1em;">Back</button>
  </div>
</form>